img{
    width:33%;
    height: auto;
}
body{
    background: linear-gradient(to right,#078bff, #c9e6ff,#ffffff, #ffffff,#ffffff,#c9e6ff, #078bff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}